@use  'src/abstracts/colors';
@use  'src/abstracts/fonts';
@use  'src/abstracts/assets';

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

    width: min-content;
    height: min-content;
    min-width: 340px;
    min-height: 95px;
    max-width: 380px;

    padding: 10px 20px;
    
    border-radius: 16px;
    border: 1px solid black;
    & span {
        font-size: 15px;
        font-weight: 400;      
    }
    
}
.title{
    flex-wrap: nowrap;
    display:flex;
    word-wrap: break-word;
        
    align-items: flex-start;
    & span {
        font-size: 25px;
        font-weight: 700;  
        
    }
    gap: 10px;
}
.box{
    width: 25px;
    height: 25px;
    
    border-radius: 6px;
    border: 1px solid black;
}
.description{
    word-wrap: break-word;
    
    max-width: 300px;
}