@use  'src/abstracts/colors';
@use  'src/abstracts/fonts';
@use  'src/abstracts/assets';

*{
    @include assets.all;
}

h1{
    margin: 10px 10px 10px 10px;
    @include assets.h1;
}

.navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170px;
    background-color: colors.$secondary-color;
}

.sectionWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.buttonWrapper{
    
    padding-right: 20px;
    min-height: 36px;
    min-width: 33%;
    width: 33%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    & p {
        font-size: 15px;
        margin: 5px 5px 5px 5px;
    }
}

.name{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
}

.line{
    position: relative;
    bottom: -12px;
    width: 100%;
    height: 7px;
    background-image: url("../../assets/images/line.svg");
    background-size: cover;
}

.section1{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section2{
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section3{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usection{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.homeButton{
    min-height: 36px;
    min-width: 33%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.home{
    border-radius: 10px !important;
}
.childrenWrapper{
    min-height: 36px;
    min-width: 33%;
    display: flex;
    align-items: center;
}