@use  'src/abstracts/colors';
@use  'src/abstracts/fonts';
@use  'src/abstracts/assets';

.container {
  display: flex;
  flex-grow: 1;

  @include assets.scrollbar
}

.columns {
  display: flex;
  align-items: start;
  gap: 32px;

  margin-top: 32px;
  margin-left: 12px;
}

.columnButton {
  padding-right: 16px;
}

.columnAction {
  display: flex;
  align-items: center;
  gap: 4px;

  margin-top: 16px;
}