@use  'src/abstracts/colors';
@use  'src/abstracts/fonts';
@use  'src/abstracts/assets';

.container {
  display: flex;
  flex-grow: 1;

  @include assets.scrollbar;
}

.headerStyle {
  min-height: 0;

  margin-top: 32px;
}

.deleteButton {
  background-color: colors.$warn;
}