@use '../../abstracts/colors';
@use '../../abstracts/fonts';
@use '../../abstracts/assets';


.container{
    padding-left: 20px;
    width: 100%;
    margin-top: 40px;
    & h2 {
        font-family: fonts.$font-paragraph;
        font-weight: 700;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    & p {
        font-size: 15px;
        font-weight: 400;
    }
}
.wrapper{
    display: flex;
    gap: 20px;
}
.icons{
    display: flex;
    
}