@use '../../../abstracts/colors';
@use '../../../abstracts/fonts';
@use '../../../abstracts/assets';

.container{
    width: 100%;
    
    display: flex;
    @include assets.scrollbar;
    height: calc(100% - 148px - 10px);
    width: calc(100% - 6px);
}

