.container{
    
    width: 100%;
    
    display: flex;
    
}

.cardWrapper{
    padding: 0px 16px 32px 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 450px;
    gap: 32px;
}

.columnHeaderWrapper{
    min-height: 182px;
    display: flex;
    align-items: flex-end;
    
}