@use 'src/abstracts/colors';
@use 'src/abstracts/fonts';
@use 'src/abstracts/assets';

.wrapper{
    border: 4px solid colors.$warn;

    min-width: 256px;
    max-width: 256px;
    min-height: 98px;

    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
}