@use 'src/abstracts/colors';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    border-radius: 16px;

    &.accented {
        background-color: colors.$accent;
    }
}

.action {
    cursor: pointer;

    width: 32px;
    height: 32px;

    &.inactive {
        & path {
            fill: #888888;
        }
    }
}

