@use  'src/abstracts/colors';
@use  'src/abstracts/fonts';
@use  'src/abstracts/assets';

.wrapper{
    border: 4px solid colors.$warn;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 226px;
    height: 98px;
    padding: 10px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 24px;
    word-wrap: break-word;
    text-align: center;
}