@use '../../abstracts/colors';
@use '../../abstracts/fonts';
@use '../../abstracts/assets';

.toolbox{
    background-color: #EBD3A8;

    display: flex;
    align-items: center;
    
    width:612px; 
    height: 100px;

    border-radius:16px;

    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);

    padding: 10px 10px 10px 10px;
    align-items: center;
    gap:20px;

}
.timerbox{
    background-color: #EBD3A8;
    width:96px;
    
   
    
}
.timer{
    display:flex;
    
    width: 96px;
    height: 84px;
}
.votebox{
    background-color: #EBD3A8;
    width:96px;
   
    
}
.voteboxbutton{
    display:flex;
    
    width: 96px;
    height: 84px;
}

.midbox{
    background-color: #EBD3A8;
    
    display: flex;
    flex-direction: column;
    
    gap:5px;
    width: 120px;
    
  

    
}

.readybutton{
    background-color: #F4F2E6;
    
    border-radius: 8px;
    border:solid #73BDA8 3px;
    
    width: 120px;
    height: 68px;
    &.ready{
        background-color: #73BDA8;
    }
}

.wraper{
   border: 0px solid #73BDA8;
   border-radius: 6px;
   height: 10px;
   box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
   width: 120px;
   
}
.container{
    background-color: #F4F2E6;
    height: 100%;
    border-radius: 4px;
}
.barComplete{
    background-color: #73BDA8;
    height:100%;
    border-radius: 4px;
    width: 80%;
    
    
}
.label{
    font-size: 0px;
   
}
.votestatebox{
    background-color: #EBD3A8;
    width:96px;
    
    
 
}
.votestate{
    display:flex;
    
    width: 96px;
    height: 84px;

    background-color:#F4F2E6;

    border-radius: 8px;

    justify-content: center;
    align-items: center;
  
    font-family: fonts.$font-paragraph;

    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);

    padding-left: 2px;
    padding-right: 2px;

    word-break: break-all;
}



.buttonbox{
   display: flex;
   justify-content: space-between;
   gap:10px;
   background-color:#EBD3A8 ;
   width:96px;
   
   
}

.button{
    width: 40px;
    height: 84px;
}