@use '../../abstracts/colors';
@use '../../abstracts/fonts';
@use '../../abstracts/assets';

.toolbox{
    background-color: #EBD3A8;

    display: flex;
    align-items: center;
   

    width: 612px;
    height: 100px;

    border-radius:16px;

    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);

    padding: 10px 10px 10px 10px;
    justify-content: space-between;
}

.timer{
    display:flex;
    
    width: 96px;
    height: 84px;
}

.midbox{
    background-color: #EBD3A8;
    
    display: flex;
    flex-direction: column;
    
    gap:5px;
    
    height: 100%;
    max-width: 300px;

    padding:0px 20px 0px 20px;
}

.readybutton{
    background-color: #F4F2E6;
    
    border-radius: 8px;
    border:solid #73BDA8 3px;
    
    width: 120px;
    height: 68px;
}

.wraper{
   border: 0px solid #73BDA8;
   border-radius: 6px;
   height: 10px;
   box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
   width: 120px;
   
}
.container{
    background-color: #F4F2E6;
    height: 100%;
    border-radius: 4px;
}
.barComplete{
    background-color: #73BDA8;
    height:100%;
    border-radius: 4px;
    width: 80%;
    
    
}
.label{
    font-size: 0px;
   
}


.buttonbox{
   display: flex;
   justify-content: space-between;
   
   width: 100px;
   height: 84px;
   background-color:#EBD3A8 ;
   
   padding: 0px 0px 0px 12px;
}

.button{
    width: 40px;
    height: 84px;
}