@use  'src/abstracts/colors';
@use  'src/abstracts/fonts';
@use  'src/abstracts/assets';

.bubbleWrapper{
	position: absolute;
	top: -50px;
	left:-270px;
	z-index: 1;
}

.bubble {
	height: 200px;
	width: 280px;
	min-width: 280px;
	background: colors.$primary-color;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	margin-top: 50px;
	font-size: 200px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
	& p{
		padding: 10px;
		border-radius: 16px;
		background-color: colors.$background;
		border: 1px dashed colors.$secondary-color;
		font-size: 15px;
		text-overflow: ellipsis;
  		overflow: hidden; 
		width: 80%; 
		height: 20%; 
		white-space: nowrap;
	}
}

.pointer {
	z-index: -1;
	right:-109px;
	bottom:-80px;
	height: 40px;
	width: 40px;
	background: colors.$primary-color;
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 12px 0;
	position: relative;
}
