.picker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  min-width: 100px;
  min-height: 34px;

  padding: 8px;

  background-color: #ffffff;
  border-radius: 16px;
}

.inputWrapper {
  display: flex;
  align-items: center;

  padding: 0 8px;
  max-height: 30px;

  border-radius: 16px;
  border: 1px solid #000000;

  .input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px 0;
  }
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  min-height: 30px;
  padding: 0 8px;

  line-break: anywhere;

  background-color: #FFFFFF;

  border: 1px solid #000000;
  border-radius: 16px;
}

.close {
  cursor: pointer;

  min-height: 24px;
  min-width: 24px;
  height: 24px;
  width: 24px;
}