.cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    height: fit-content;
    min-width: 300px;
    max-width: 300px;

    padding: 0 8px 32px 8px;
    margin-bottom: 120px;
}

.columnHeaderWrapper {
    min-height: 150px;
    display: flex;
    align-items: flex-end;

    margin-bottom: 16px;
}