.cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    height: fit-content;
    max-width: 380px;

    padding: 0 8px 32px 8px;
    margin-bottom: 148px;
}

.columnHeaderWrapper{
    min-height: 182px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
}