@use '../../../abstracts/colors';
@use '../../../abstracts/fonts';
@use '../../../abstracts/assets';

.container {
    display: flex;
    justify-content: space-between;

    height: calc(100% - 124px);

    @include assets.scrollbar;
    overflow-y: hidden;
    overflow-x: auto;
}

.nextCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 350px;
    min-width: 300px;
    padding: 16px 8px;

    @include assets.scrollbar;
    overflow-x: hidden;

    & .header {
        margin-left: 8px;
        font-size: 32px;
        font-weight: 700;
    }
}

.actionPointWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100vh - 120px);
    width: 320px;

    background-color: colors.$primary-color;
    padding: 0 16px;
}

.actionCardWrapper {
    flex-direction: column;

    padding: 16px 4px 100px 0;

    @include assets.scrollbar;
    overflow-x: hidden;
}

.actionCardInput {
    margin-top: -16px;
    padding-bottom: 16px;
}

.currentCardWrapper {
    @include assets.scrollbar;

    flex-grow: 1;
    justify-content: center;

    min-width: 300px;
    max-width: 900px;
    padding: 32px 8px 0 8px;
}

.discussCardWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background-color: white;
    padding: 10px;

    border: 1px solid black;
    border-radius: 16px;

    word-break: break-word;
    white-space: pre-line;
}

.card {
    display: flex;
    gap: 8px;

    margin-bottom: 16px;
}

.votes {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 32px;
}

.groupVotes {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    margin-top: auto;

    font-size: 16px;
    color: #696969;
}

.deleteButton {
    background-color: colors.$warn;
}

@media screen and (max-width: 1000px) {
    .nextCardWrapper {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .actionCardInput {
        padding-bottom: 100px;
    }
}