@use '../../../abstracts/colors';
@use '../../../abstracts/fonts';
@use '../../../abstracts/assets';

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    max-height: calc(100vh - 72px);
}

.upNextSection {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 350px;
    min-width: 300px;
    padding: 16px 8px;

    @include assets.scrollbar;
    overflow-x: hidden;

    & .header {
        margin-left: 8px;
        font-size: 32px;
        font-weight: 700;
    }

    .votes {
        display: flex;
        justify-content: center;
        flex-grow: 1;

        width: 32px;

        & span {
            align-self: center;
        }
    }
}

.currentCardSection {
    @include assets.scrollbar;

    flex-grow: 1;
    justify-content: center;

    min-width: 300px;
    max-width: 900px;
    padding: 32px 8px 0 8px;

    .card {
        display: flex;
        gap: 8px;

        margin-bottom: 16px;
    }

    .discussCardWrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        background-color: white;
        padding: 10px;

        border: 1px solid black;
        border-radius: 16px;

        word-break: break-word;
        white-space: pre-line;
    }

    .groupVotes {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        margin-top: auto;

        font-size: 16px;
        color: #696969;
    }
}

.actionPointsSection {
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    max-width: 400px;

    .actionPointContent {
        display: flex;
        flex-direction: column;

        background-color: colors.$primary-color;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .actionPointList {
        display: flex;
        flex-direction: column;
        gap: 8px;

        margin-bottom: auto;
        
        padding: 5px 10px 15px 16px;
        @include assets.scrollbar;
    }

    .actionPointInput {
        border-top: 10px solid linear-gradient !important;
        justify-self: flex-end;
        padding: 10px 10px 16px 15px;
        margin-top: -16px;
    }
}

.deleteButton {
    background-color: colors.$warn;
}

@media screen and (max-width: 1000px) {
    .upNextSection {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .actionPointsSection {
        .actionPointInput {
            padding-bottom: 100px;
        }
    }
}
