@use '../../abstracts/colors';
@use '../../abstracts/fonts';
@use '../../abstracts/assets';

.team{
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    margin-top: 32px;

    & h2 {
        font-family: fonts.$font-paragraph;
        font-weight: 700;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    & span {
        font-size: 15px;
        font-weight: 400;
    }
}

.retro {
    min-width: 256px;
    height: 126px;

    background-color: #FFFFFF;
}

.retroButton {
    flex-direction: column;

    gap: 8px;

    width: 256px;
    height: 126px;
}

.wrapper{
    display: flex;
    gap: 20px;

    padding: 0 16px 8px;

    @include assets.scrollbar
}

.topBar {
    display: flex;
    align-items: center;
    gap: 10px;

    padding-left: 16px;

    & h2 {
        margin: 0;
    }
}