@use '../../../abstracts/colors';
@use '../../../abstracts/fonts';
@use '../../../abstracts/assets';

h1{
    @include assets.h1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-image: url("../../../assets/images/background.svg");
    background-size: cover;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 140px;

    max-width: 700px;
    max-height: 400px;
    padding: 80px 140px 80px 140px;
    border-radius: 16px;

    background-color: colors.$secondary-color;
    color: colors.$background;
}

.text {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    & a {
        color: colors.$primary-color;
    }
}

p {
    font-size: 22px;
    font-family: fonts.$font-paragraph;
}

.googleBtn {
    color: black !important;
    background-color: white !important;
    border-radius: 40px !important;

    & div {
        border-radius: 40px !important;
    }
}

a:has(.googleBtn) {
    text-decoration: none;
}
//loading animation
.loadingWrapper{
  padding-bottom: 20px;
  margin-top: -40px;
}

.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    
}
  .loading div {
    animation: loading 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .loading div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .loading div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .loading div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .loading div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .loading div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .loading div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .loading div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .loading div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .loading div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .loading div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .loading div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .loading div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .loading div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .loading div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .loading div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .loading div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .loading div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  