@use '../../../abstracts/colors';
@use '../../../abstracts/fonts';
@use '../../../abstracts/assets';

h1{
    @include assets.h1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-image: url("../../../assets/images/background.svg");
    background-size: cover;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 140px;

    max-width: 600px;
    max-height: 400px;
    padding: 30px 30px 30px 30px;
    border-radius: 16px;

    background-color: colors.$secondary-color;
    color: colors.$background;
}

.text {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    & a {
        color: colors.$primary-color;
    }
}

p {
    font-size: 22px;
    font-family: fonts.$font-paragraph;
}

.googleBtn {
    color: black !important;
    background-color: white !important;
    border-radius: 40px !important;

    & div {
        border-radius: 40px !important;
    }
}

a:has(.googleBtn) {
    text-decoration: none;
}