@use 'src/abstracts/colors';
@use 'src/abstracts/fonts';
@use 'src/abstracts/assets';

.container {
	position: absolute;
	top: 4px;
	right: 0;
	z-index: 1;

	display: flex;
	flex-direction: column;
	gap: 16px;
	text-align: center;

	width: 280px;

	background: colors.$primary-color;
	border-radius: 8px;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.topSection {
	display: flex;
	flex-direction: column;
	gap: 12px;

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 8px;

	background-color: colors.$accent;

	.user {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;

		.userData {
			display: flex;
			flex-direction: column;
			gap: 4px;

			overflow: hidden;

			& > span {
				text-align: start;

				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}

			.nickname {
				font-weight: bold;
				font-size: 18px;
			}

			.mail {
				font-size: 16px;
			}
		}
	}

	.teams {
		display: flex;
		flex-direction: row;
		gap: 8px;
		flex-wrap: wrap;

		.team {
			display: flex;
			justify-content: center;
			align-items: center;

			height: 24px;
			padding: 0 6px;

			font-size: 14px;

			border-radius: 24px;
			background-color: colors.$background;
		}
	}
}

.options {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;

	width: 100%;

	padding: 0 8px;

	.option {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8px;

		width: 100%;

		color: black;
		text-decoration: none;
		cursor: pointer;

		padding: 8px;

		border-radius: 8px;
		background-color: colors.$background;
	}
}

.logout {
	margin: 0 8px 8px;

	background-color: colors.$warn !important;
}