.circle
{
  height: 40px;
  width: 40px;

  border-radius: 50%;
  
  box-sizing: border-box;
  border:1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid  ;
  

  
}
.photo{
  vertical-align: middle;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: fill;
}
