@use  'src/abstracts/colors';
@use  'src/abstracts/fonts';
@use  'src/abstracts/assets';

.outer {
    border-radius: 16px;
    border: solid black 1px;
    height: fit-content;
    width: fit-content;
    padding: 10px 10px;
}

.tile{
    background-color: #ffffff;

    height: fit-content;
    width: fit-content;
    min-width: 345px;
    min-height: 96px;

    border: none;
    outline: none;

    font-family: fonts.$font-paragraph;

    font-size: 15px;

    resize: none;

    min-width: 345px;
    min-height: 96px;
    
}
.oneline{
    
    min-width: 345px;
    min-height: 20px;
    font-weight: 100;
    border: 1px solid black;
    vertical-align: center;
}
.oneline::placeholder{
    font-size: 15px;
    vertical-align: middle;
    text-align: left;
}

.tile::-webkit-scrollbar {
    width: 8px;
}
  
.tile::-webkit-scrollbar-track {
    background: rgb(201, 201, 201);
    border-radius: 8px;
    border: solid 10px transparent;
}
   
.tile::-webkit-scrollbar-thumb {
    background: rgb(97, 96, 96); 
    border-radius: 10px;
}
  
.tile::-webkit-scrollbar-thumb:hover {
    background: #a7a3a3; 
}


