@use 'src/abstracts/colors';
@use 'src/abstracts/fonts';
@use 'src/abstracts/assets';

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;

    padding: 4px;
    border-radius: 16px;
    border: solid black 1px;
    background-color: #FFFFFF;
}

.multiline {
    min-height: 120px;

    width: 100%;
    height: 100%;

    outline: none;
    border: none;
    border-radius: 16px;

    resize: none;

    @include assets.scrollbar;
}

.oneline {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;

    padding: 1px 0;

    min-height: 40px;
    width: 100%;

    outline: none;
    border: none;
    border-radius: 16px;
}

.rightWrapper {
    display: flex;
    align-items: center;
}
