@use '../../abstracts/colors';
@use '../../abstracts/fonts';
@use '../../abstracts/assets';

.container {
    display: flex;
    justify-content: center;

    background-image: url("../../../assets/images/background.svg");
    background-size: cover;
    padding: 0px 20vw;
    min-height: calc(100% - 148px - 10px);

}

.wrapper{
    background-color: #EBD3A8;
    
    border-radius: 16px;

    min-width: 1000px;
    height: 700px;

    margin-top: 30px;
    padding-top: 30px;

    @include assets.scrollbar;
    overflow-y: scroll;
    overflow-x: hidden;
}

.summaryField{
    background-color: #F4F2E6;
    
    width: 304px;
    height: 45px;

    border-radius: 50px;
    border:3px #73BDA8 solid;

    display: flex;
    text-align: center; 
    align-items: center;
    justify-content: center;

    gap:30px;

    font-weight: 700;
    font-size:24px;

}

.textSection{
    width: 100%;
    min-height: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.textFile{
    font-family: fonts.$font-paragraph;

    width: 192px;
    height: 84px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 2px 2px 2px 2px;

    font-size: 32px;
}

.authorAndCardSection{
    padding-top: 40px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.authorSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;

    gap:20px;
}

.cardSection{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.blackcard{
    width: 350px;
}