@use '../../abstracts/colors';
@use '../../abstracts/fonts';
@use '../../abstracts/assets';

.container {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    background-image: url("../../../assets/images/background.svg");
    background-size: cover;

    @include assets.scrollbar;
}

.wrapper {
    background-color: #EBD3A8;
    
    border-radius: 16px;

    min-width: 500px;
    max-width: 1200px;
    width: 90%;
    height: fit-content;

    margin: 32px;
    padding: 32px 16px 32px;
}

.summaryField {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;

    background-color: #F4F2E6;
    
    width: 304px;
    height: 45px;

    border-radius: 50px;
    border: 3px #73BDA8 solid;

    font-weight: 700;
    font-size: 24px;
}

.textSection {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 10px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 192px;
    height: 84px;

    padding: 2px;

    font-family: fonts.$font-paragraph;
    font-size: 32px;
}

.authorAndCardSection {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 40px;
    width: 100%;
}

.authorSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.authors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.noTasksSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding-top: 40px;
}

.cardSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;

    width: 100%;
}

.card {
    width: 350px;
}

.header {
    min-width: 250px;
}