@use '../../abstracts/colors';
@use '../../abstracts/fonts';
@use '../../abstracts/assets';

    
body{
    @include assets.body;
    
}

h1 {
    @include assets.h1;
}
#root {
    @include assets.root;
}
.noTeam{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    height: 82vh;
    & p {
        font-size: 28px;
        font-weight: 900;
    }
}
.text{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
}
