@use '../../abstracts/colors';
@use '../../abstracts/fonts';
@use '../../abstracts/assets';

.container{
  @include assets.scrollbar;
  height: calc(100% - 124px);
  width: calc(100% - 6px);
}

.noTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  height: 100%;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  & span {
    font-size: 28px;
    font-weight: 900;
  }
}