@use  'src/abstracts/colors';
@use  'src/abstracts/fonts';
@use  'src/abstracts/assets';

.container{
    display: flex; 
}
.columns{
    margin-top: 20px;
    display: flex;
    margin-left: 20px;
    gap: 50px;
    align-items: start;
    width: 80%;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
