@use  'src/abstracts/colors';

.dialog {
  display: flex;
  flex-direction: column;

  min-width: 500px;
  min-height: 150px;

  background-color: colors.$primary-color;
  border-radius: 16px;
}

.title {
  display: flex;

  background-color: colors.$warn;

  padding: 8px;

  font-size: 18px;
  font-weight: bold;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.content {
  display: flex;

  padding: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-top: auto;
  margin-bottom: 8px;
}

.button {
  padding-left: 32px !important;
  padding-right: 32px !important;

  &.noButton {
    background-color: colors.$warn;
  }
}