@use  'src/abstracts/colors';
@use  'src/abstracts/fonts';
@use  'src/abstracts/assets';

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 16px;

  position: relative;

  width: 100%;
}

.retroHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 0;
  min-width: 250px;

  border-radius: 50px;
  background-color: colors.$background;
  margin: 0 16px;
  font-size: 24px;
}
